    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Real estate</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="banner">
            <h1>Mua nhà ưng ý với giá hợp lý</h1>
            <div class="summary">
                Tìm nhà dễ dàng, mua nhanh chóng 
            </div>
        </div>
        <div class="main">
            <div class="search">
                <div class="price">
                    <select name="price" id="price">
                        <option value="0.5">500 triệu</option>
                        <option value="1">1 tỷ</option>
                        <option value="2">2 tỷ</option>
                        <option value="3">3 tỷ</option>
                        <option value="4">4 tỷ</option>
                        <option value="5">5 tỷ</option>
                        <option value="6">6 tỷ</option>
                        <option value="7">7 tỷ</option>
                        <option value="8">8 tỷ</option>
                    </select>
                </div>
                <div class="address">
                    <input type="text" placeholder="Địa điểm bạn muốn mua">
                </div>
                <button>Tìm ngay</button>
            </div>
        </div>
    </body>
    </html>