    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Real estate</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="banner">
            <div class="content">
                <h1>Mua nhà ưng ý với giá hợp lý</h1>
                <p>Tìm nhà dễ dàng, mua nhanh chóng</p>
            </div>
        </div>
        <div class="main">
            <form class="search" actions="/" method="GET">
                <div class="price">
                    <select name="price" id="price" value="Giá">
                        <option selected disabled hidden>Giá mua</option>
                        <option value="0.5">500 triệu</option>
                        <option value="1">1 tỷ</option>
                        <option value="2">2 tỷ</option>
                        <option value="3">3 tỷ</option>
                        <option value="4">4 tỷ</option>
                        <option value="5">5 tỷ</option>
                        <option value="6">6 tỷ</option>
                        <option value="7">7 tỷ</option>
                        <option value="8">8 tỷ</option>
                    </select>
                </div>
                <div class="address">
                    <select name="address" id="address">
                        <option selected disabled hidden>Địa điểm bạn muốn mua</option>
                        <option value="hanoi">Hà Nội</option>
                        <option value="hcm">TP. Hồ Chí Minh</option>
                    </select>
                    <!-- <input id="address" type="text" placeholder="Địa điểm bạn muốn mua"> -->
                </div>
                <input type="submit" id="search-button" value="Tìm ngay">       
            </form>
            <table style="text-align: center; width: 80%; margin: 0 auto; padding: 100px 0 50px 0;">
                <tr>
                    <th> Giá </th>
                    <td> Địa điểm </td>
                    <td> Diện tích </td>
                    <td> Số phòng ngủ </td>
                    <td> Số tầng </td>
                </tr>
                {% for house in houses %}
                   <tr>
                      <th> {{ house.price }} </th>
                      <td> {{ house.address }} </td>
                      <td> {{ house.area }} </td>
                      <td> {{ house.bedroom_number }} </td>
                      <td> {{ house.floor_number }} </td>
                   </tr>
                {% endfor %}
             </table>
        </div>
    </body>
    </html>